body {
    font-family: roboto, helvetica, arial, sans-serif;
}


header {
    background-image: url(../images/sunset-bg.jpg);
    background-size: cover;
    background-repeat: none;
    padding-bottom: 40px;
}

#main-logo {
    width: 40%;
    padding-top: 20px;
    display: block;
    margin: 0 auto; 
}

#headline {
    color: #fff;
    font-family: 'Source sans pro', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.btn {
    border: none;
    padding: 10px 25px;
}
#call-to-action {
    display: block;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

.container h2 {
    color: rgb(255, 88, 180);
}

.container p {
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 300;
}

#input-java {
    
}