/* Coolors Exported Palette - coolors.co/2b495b-325d79-0a3e60-10587f-032b41 */

/* HSL */
$color1: hsla(203%, 36%, 26%, 1);
$color2: hsla(204%, 42%, 34%, 1);
$color3: hsla(204%, 81%, 21%, 1);
$color4: hsla(201%, 78%, 28%, 1);
$color5: hsla(201%, 91%, 13%, 1);

/* RGB */
$color1: rgba(43, 73, 91, 1);
$color2: rgba(50, 93, 121, 1);
$color3: rgba(10, 62, 96, 1);
$color4: rgba(16, 88, 127, 1);
$color5: rgba(3, 43, 65, 1);

